# VS Code settings
.vscode/

# Python cache & build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
build/
dist/

# Environment folders
.env/
.venv/
env/
venv/
*.conda/
*.ipynb_checkpoints/
environment.yml

# OS-specific junk
.DS_Store
Thumbs.db

# PPS pipeline scratch + local env
tools/pps/data/output/
tools/pps/**/__pycache__/
tools/pps/.venv/
# tools/lit-import/data/raw/
# docs/data/v1/lit/bible/
docs/data/v1/lit/bible/en/
# docs/data/v1/lit/bible/grc/
# docs/data/v1/lit/bible/he/
